/*
 * Dracula colorscheme
 * https://draculatheme.com/
 * #f8f8f2 Foreground
 * #282a36 Background
 * #44475a Current workspace
 * #6272a4 Inactive workspace/comment
 * #8be9fd Cyan
 * #50fa7b Green
 * #ffb86c Orange
 * #ff79c6 Pink
 * #bd93f9 Purple
 * #ff5555 Red
 * #f1fa8c Yellow
 *
 *
 * */

@define-color bg #282a36;
@define-color fg #f8f8f2;
@define-color bg-alt #44475a;
@define-color fg-alt #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;
@define-color salmon #eba0ac;

* {
  /* font-family: "JetBrainsMono NFM:style=Bold", "Noto Sans", "Roboto Condensed", sans-serif; */
  font-family: "FiraCode Nerd:style=Bold", "Ubuntu Nerd:style=Bold",
    "JetBrainsMono NFM:style=Bold", "Noto Sans", "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

tooltip {
  background-color: @bg;
  border: 2px solid @purple;
  border-radius: 7px;
}

window#waybar {
  /* Transparent waybar. Make sure to comment out background-color: and border: */
  background: rgba(0, 0, 0, 0);
  /* background: rgba(77, 0, 177, 0.3); */
}

window#waybar.empty #window {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-updater-improved,
#custom-keybindings,
#custom-cycle_wall,
#network {
  border-radius: 4px;
  margin: 4px 0px;
  padding: 0px 4px;
  color: #3a3b3c;
  /*border: 2px solid #3a3b3c; */
}

#workspaces {
  border-radius: 77px;
  margin: 4px 0px;
  padding: 0px 4px;
  /* color: #3a3b3c; */
  color: @fg;
}

#backlight {
  background-color: #cba6f7;
}

#battery {
  background-color: #f9e2af;
}

@keyframes button_activate {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  /* background-color: #a6e3a1; */
  background-color: @purple;
  border: 2px solid @bg;
  font-size: 17px;
  border-radius: 77px;
}

#cpu {
  /* background-color: #89dceb; */
  /* background-color: @cyan; */
  color: @fg;
  background-color: @bg;
  border: 2px solid @cyan;
  border-radius: 77px;
}

#memory {
  color: @fg;
  background-color: @bg;
  border: 2px solid @salmon;
  border-radius: 77px;
}

#disk {
  background-color: @bg;
  color: @fg;
  border: 2px solid @green;
  border-radius: 77px;
}

#tray {
  /* background-color: #b4befe; */
  background-color: @bg;
  border: 2px solid @purple;
  border-radius: 77px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

button {
  box-shadow: inset 0 -3px transparent;
  /* border: 2px solid @fg-alt; */
  /* box-shadow: inset 0 -3px @purple; */
  border-radius: 77px;
}

button:hover {
  background-color: inherit;
  box-shadow: inset 0 -3px @purple;
}

#workspaces button {
  /* background-color: #d9e0ee; */
  /* color: #3a3b3c; */
  background-color: @bg;
  color: @fg;
  /* border: 2px solid #3a3b3c; */
  box-shadow: inset 0 -3px @orange;
  margin-right: 2px;
}

#workspaces button.active {
  /* background-color: rgb(249, 226, 175); */
  /* color: #3a3b3c; */
  background-color: @purple;
  box-shadow: inset 0 -3px @orange;
  color: @bg;
}

#workspaces button:hover {
  /* background-color: #b4befe; */
  background-color: @orange;
  color: @fg;
  border: solid transparent;
  /* border: 2px solid @bg; */
}

#workspaces button.urgent {
  background-color: @red;
  color: @bg;
  box-shadow: inset 0 -3px @pink;
}

#custom-menu {
  /* background-color: #f5c2e7; */
  background-color: @bg;
  color: @fg-alt;
  font-size: 27px;
  border: 2px solid @orange;
  border-radius: 77px;
}

#custom-poweroff,
#custom-reboot,
#custom-quit,
#custom-lock,
#custom-power {
  /* background-color: #f38ba8; */
  background-color: @bg;
  border: 2px solid @red;
  color: @red;
  margin-right: 4px;
  font-size: 27px;
  border-radius: 77px;
  padding: 4px 4px;
  margin: 4px 0px;
}

#custom-updater {
  /* background-color: #e6ed7b; */
  background-color: @bg;
  color: @fg;
  border: 2px solid @yellow;
  border-radius: 77px;
}

#custom-updater-improved {
  /* background-color: #e6ed7b; */
  background-color: @bg;
  color: @fg;
  border: 2px solid @yellow;
  border-radius: 77px;
}

#custom-uptime {
  /* background-color: #e6ed7b; */
  background-color: @yellow;
}

#custom-weather {
  /* background-color: #cba6f7; */
  background-color: @bg;
  color: @fg;
  border: 2px solid @green;
  border-radius: 77px;
}

#custom-cycle_wall {
  background-color: #89dceb;
}

#custom-vpn_check {
  background-color: #a6e3a1;
}

#custom-cputemp {
  background-color: #86b4fa;
}

#custom-keybindings {
  /* background-color: #86b4fa; */
  background-color: @bg;
  font-size: 18px;
  border: 2px solid @orange;
  border-radius: 77px;
}

#pulseaudio {
  /* background-color: #fab387; */
  background-color: @bg;
  border: 2px solid @orange;
  color: @fg;
  border-radius: 77px;
}

#pulseaudio.bluetooth {
  /* background-color: #f5c2e7; */
  background-color: @bg;
  border: 2px solid @pink;
  color: @fg;
  border-radius: 77px;
}
#pulseaudio.muted {
  /* background-color: #313244; */
  /* color: #cdd6f4; */
  background-color: @orange;
  border-radius: 77px;
}

#network {
  background-color: #89b4fa;
}
#network.disconnected,
#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}

#window {
  background-color: @bg;
  color: @fg;
  border: 2px solid @orange;
  border-radius: 4px;
  padding: 4px 4px;
  margin: 4px 0px;
  border-radius: 77px;
}

#mpris {
  background-color: @bg;
  color: @fg;
  padding: 4px 4px;
  margin: 4px 0px;
  border: 2px solid @orange;
  border-radius: 77px;
}

#custom-weatherbar {
  background: @bg;
  border: 2px solid @green;
  border-radius: 77px;
  padding: 4px 4px;
  margin: 4px 0px;
}

#custom-pacman {
  background: @bg;
  border: 2px solid @yellow;
  border-radius: 77px;
  padding: 4px 4px;
  margin: 4px 0px;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pacman.pending-updates {
  animation-name: blink-update;
  animation-duration: 3s;
}
